{{ define "main" }}
<div class="container">
    <h1>home page</h1>
    <div class="row">
        <div style="border: solid black 2px; text-align: center; font-size: 2em;" class="col-sm-3 m-2">
            <p>content</p>
        </div>
        <div style="border: solid black 2px; text-align: center; font-size: 3em;" class="col-sm-3 m-2">
            <i style="color: black;" class="fab fa-angrycreative"></i>
        </div>
        <div style="border: solid black 2px; text-align: center; font-size: 3em;" class="col-sm-3 m-2">
            <i style="color:goldenrod;" class="fab fa-bitcoin"></i>
        </div>
    </div>
    <div class="row">
        <div style="border: solid black 2px; text-align: center; font-size: 2em; padding-top: 20px;"
            class="col-sm-3 m-2">
            <img style="width: 100%;" src="https://media.giphy.com/media/WSfQnm6JxAcco/giphy.gif">
        </div>
        <div style="border: solid black 2px; text-align: center;" class="col-sm-3 m-2">
            <img style="width: 100%" src="https://media.giphy.com/media/B5zU6avdXlkY0/giphy.gif">
        </div>
        <div style="border: solid black 2px; text-align: center;" class="col-sm-3 m-2">
            <img style="width: 100%" src="https://media.giphy.com/media/s1q9tgpnQGA4E/giphy.gif">
        </div>
    </div>
</div>
{{ end }}